<aside class="layout-sidebar">
    <div class="menu-section">
        <span class="menu-title">MY ACCOUNT</span>
        <ul>
            <li routerLink="/admin-user-list" routerLinkActive="active">
                <svg data-p-icon="users"></svg> Usuarios
            </li>
            <li routerLink="/admin-categories-list" routerLinkActive="active">
                <svg data-p-icon="tablet"></svg>Categorías
            </li>
            <li routerLink="/admin-products-list" routerLinkActive="active">
                <svg data-p-icon="box"></svg>Productos
            </li>
        </ul>
    </div>
</aside>