<aside class="layout-sidebar">
    <div class="menu-section">
       
        @if (isAdmin()) {
            <span class="menu-title">ADMIN</span>
            <ul>
                <li routerLink="/admin-user-list" routerLinkActive="active">
                    <svg data-p-icon="users"></svg> Usuarios
                </li>
                <li routerLink="/admin-categories-list" routerLinkActive="active">
                    <svg data-p-icon="tablet"></svg>Categorías
                </li>
                <li routerLink="/admin-products-list" routerLinkActive="active">
                    <svg data-p-icon="box"></svg>Productos
                </li>
            </ul>
        } @else {
            <span class="menu-title">CATEGORÍAS</span>

            @if (categoriesResource.isLoading()) {
                <p>Cargando categorías...</p>
            } @else {
                <ul>
                    <li routerLink="/dashboard" routerLinkActive="active">
                        <svg data-p-icon="tablet"></svg>Todas las categorías
                    </li>
                    @for (category of categoriesResource.value(); track category.id) {
                        <li routerLink="/category/{{category.id}}" routerLinkActive="active">
                            <svg data-p-icon="tablet"></svg>{{category.name}}
                        </li>
                    } @empty {
                        <li>No se encontraron categorías.</li>
                    }
                </ul>
            }  
        }
    </div>
</aside>
