<div class="content" style="width: 100%; height: 95%">
    <p-confirmdialog />

    <div class="flex justify-content-between flex-wrap">
        <div
            class="flex align-items-center justify-content-center w-4rem h-4rem font-bold border-round">
            {{ config().title | titlecase }}
        </div>
        <div class="flex align-items-center justify-content-center">
            <div class="flex align-items-center justify-content-center">
                <button pButton (click)="callDialog('', 'create')">
                    <svg data-p-icon="plus"></svg>
                    Nuevo
                </button>
            </div>
            <div class="flex align-items-center justify-content-center ml-2">
                <button pButton (click)="csvExport()">
                    <svg data-p-icon="file-export"></svg>Exportar
                </button>
            </div>
        </div>
    </div>

    @defer (on immediate) {
        <ag-grid-angular
            style="width: 100%; height: 90%"
            [rowData]="dataSet()"
            [columnDefs]="columnDefs()"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            (gridReady)="onGridReady($event)"
            [gridOptions]="gridOptions"
            [paginationPageSize]="20"             
        />
    } @placeholder {
        <div>Cargando tabla...</div>
    }
</div>
